.container{
  width: 100%;
  text-align: center;
  align-items: center ;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}
.box{
  width: 100px;
  height: 100px;
  font-size: xx-large;
}
.score{
  margin: 1rem;
}
.restart{
  font-size: large;
  margin: 1rem;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 20px;
}